<html>
  <head>
  </head>
  <body>
    <header>
      <h1>1 Million Ann Arborites</h1>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Data</li>
      </ul>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <small>1 Million Ann Arborites &copy; 2024</small>
    </footer>
  </body>
</html>
